* {
    margin: 0;
    padding: 0;
    /*border: 0;*/
    /*font-size: 0;*/
}

body {
    background-color: rgba(48, 98, 79, 0.2);
}

a {
    margin: 30px;
}

#loginContainer, #regContainer {
    width: 40%;
    margin: 100px auto;
    /*border: 1px solid darkblue;*/
}

.newLine {
    clear: both;
}

a {
    margin: 30px;
}
.loginForm_input, #regForm_input {
    padding: 4px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
}

.loginForm_input:focus, #regForm_input {
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
    border: 1px solid #46cfd2;
}
#mainChat__messages{
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    float: left;
    /*border: 1px solid #279545;*/
    overflow-y: scroll;
    word-wrap: break-word;
}
#usersOnline{
    width: 40%;
    height: 30%;
    float: left;
    border: 1px solid #955191;

}
#vvod {
    width: 48%;
    margin: 5px;
    height: 30%;
    position: relative;
}
#vvod__button {
    margin: 10px 0 0 0;
    width: 19%;
    height: 100%;
    padding: 0 0 2px 0 ;
}
textarea#vvod__text {
    margin: 10px 10px 0 0;
    width: 79%;
    height: 100%;
}
/*#confirmSended, #confirmReceived,  #private {*/
#confirmChat_sended, #confirmChat_received, #privateChat {
    width: 48%;
    height: 200px;
    overflow-y: scroll;
    background-color: rgba(187, 235, 241, 0.98);
    /*border: 1px solid #131895;*/
    margin: 5px;
    float: left;
    padding: 3px;
    word-wrap: break-word;
}
.clearfix {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.confirmRed {
    background: red;
    margin: 0 3px;
    min-width: 30px;
}
.confirmGreen {
    background: lightseagreen;
    margin: 0 3px;
}
#mainChat__fieldset {
    padding: 1px;
    width: 48%;
    float: left;
    margin: 5px;
}

.third {
    width: 33%;
}
