// chat.jade
doctype
html
    head
        title Akucha
        script(src="/socket.io/socket.io.js")
        style
            include ../public/css/style.css
    body
        fieldset#fieldMain
            legend просто чат
            #simple
        #usersOnline
        .clearfix
        #vvod
            form#forma(action='', onsubmit='return false')
                textarea#textOfMessage(onkeydown="sendMessage(event)")
                input#send.btn.btn-primary(type='submit', value='send message')
        .clearfix
        #confirmSended
        #confirmReceived
        #private
        script
            include ../routes/chat.js