//   Created by esskov on 04.06.2015.

// p Ошибка #{errorText}, турдитесь

doctype html
html
    head
        title Еггог
        meta(charset="utf-8")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
    body
        p #{errorText}, турдитесь
        a(href='/login') login
        a(href='/registration') registration
