//  index.jade  

doctype html
html
    head
        title Coast
        meta(charset="utf-8")
        script(src = '/socket.io/socket.io.js')
        link(rel="stylesheet", href="css/style.css")
    body
        a(href='/login') login логин
        a(href='/registration') registration регистрация
