//  login.jade  

doctype html
html
    head
        title Login
        meta(charset="utf-8")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
    body
        form#login__form(method="post")
            h1 Добро пожаловать !
            hr
            label.login__form_label(for="loginUser") Ваш логин :
            .clearfix
            input.login__form_input(type="text", name="loginUser", id="loginUser")
            .clearfix
            label.login__form_label(for='loginPass') Ваш пароль :
            .clearfix
            input.login__form_input(type="password", name="loginPass", id='loginPass')
            .clearfix
            button(type='submit') Кнопка входа в чат